@font-face {
  font-family: "DTM-Mono";
  src: url("./DTM-Mono.ttf");
}

@keyframes textpulse {
  0% {
    opacity: 35%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes textpulsebg {
  0% {
    filter: none;
    opacity: 25%;
  }
  100% {
    filter: blur(4px);
    opacity: 75%;
  }
}

@keyframes plzclick-fadeout {
  0% {
    filter: none;
    opacity: 100%;
  }
  100% {
    filter: blur(8px);
    opacity: 0%;
  }
}

@keyframes snake {
  0% {
    opacity: 15%;
    filter: invert(17%) sepia(45%) saturate(2000%) hue-rotate(192deg) brightness(100%) contrast(74%);
    rotate: -5deg;
  }
  25% {
    opacity: 8%;
    filter: blur(1px) invert(17%) sepia(45%) saturate(1804%) hue-rotate(205deg) brightness(100%) contrast(74%);
  }
  50% {
    opacity: 15%;
    filter: invert(17%) sepia(45%) saturate(2000%) hue-rotate(192deg) brightness(100%) contrast(74%);
    rotate: 5deg;
  }
  75% {
    opacity: 8%;
    filter: blur(1px) invert(17%) sepia(45%) saturate(1804%) hue-rotate(205deg) brightness(100%) contrast(74%);
  }
  100% {
    opacity: 15%;
    filter: invert(17%) sepia(45%) saturate(1804%) hue-rotate(192deg) brightness(100%) contrast(74%);
    rotate: -5deg;
  }
}

@keyframes snake-in {
  0% {
    opacity: 0%;
    filter: invert(17%) sepia(45%) saturate(1804%) hue-rotate(192deg) brightness(100%) contrast(74%);
    rotate: 5deg;
  }
  100% {
    opacity: 15%;
    filter: invert(17%) sepia(45%) saturate(2000%) hue-rotate(192deg) brightness(100%) contrast(74%);
    rotate: -5deg;
  }
}

@keyframes bg-in {
  0% {
    filter: blur(2px) hue-rotate(15deg);
    opacity: 0%;
  }
  100% {
    filter: none;
    opacity: 25%;
  }
}

@keyframes bg {
  0% {
    opacity: 25%;
  }
  100% {
    filter: blur(2px) hue-rotate(15deg);
    opacity: 7.5%;
  }
}

body {
  margin: 32px;
  color: white;
  background-color: black;
  font-family: "DTM-Mono", monospace;
  overflow: hidden;
}

.bg {
  z-index: -2;
  animation: bg 1.5s ease-in-out infinite alternate;
  background-repeat: no-repeat;
  background-image: linear-gradient(#000000, #000000, #00cfff);
  pointer-events: none;
}

.bg-no {
  opacity: 0% !important;
  animation: none !important;
}

.bg-in {
  animation: bg-in 1.5s ease-in-out forwards !important; 
}

body::-webkit-scrollbar {
  display: none;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: normal;
  margin-block: 0;
  margin-bottom: 24px;
  animation: textpulse 1s ease-in-out infinite alternate;
  text-shadow: rgba(0, 0, 0, 0.425) 2px 2px;
}

#timer {
  font-size: 48px;
  width: 100%;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.75) 4px 4px;
  padding: 4px 0px 8px 0px;
  transition: ease-in-out 0.2s background-color;
  margin-bottom: -4px;
  animation: none;
}

#timer:hover {
  background-color: rgba(255, 255, 255, 0.075);
  cursor: pointer;
}

#timer:active {
  background-color: rgba(255, 255, 255, 0.125);
}

audio {
  display: none;
}

#plzclick {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-items: center;
  background-color: black;
  color: yellow;
  font-size: 24px;
  z-index: 128;
}

#plzclick p {
  width: 100%;
  height: 100%;
  text-align: center;
  align-content: center;
}

#plzclick.fadeout {
  animation: plzclick-fadeout 0.8s ease-out forwards;
}

.absolute {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-items: center;
}

.howmuchlonger {
  text-align: center;
  margin-top: 32px;
  flex-direction: column;
}

.timerdiv {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#clicktocopy {
  opacity: 20%;
}

.snake {
  z-index: -1;
  flex-direction: row;
  justify-content: center;
}

.snake img {
  image-rendering: pixelated;
  scale: 150%;
  opacity: 20%;
  animation: snake 7.5s ease-in-out infinite;
  z-index: 0;
}

.snake-in img {
  animation: snake-in 1.5s ease-in-out forwards !important;
}

.snake-no {
  opacity: 0% !important;
  animation: none !important;
}

.backglow {
  animation: textpulsebg 1s ease-in infinite alternate;
}